/* Gerais */

body {
    font-family: 'roboto', serif;
}

.row {
    margin: 0;
}



.container {
    padding: 20px 0;
}

p, li {
    color: #444;
}

.main-title {
    color: #444;
    margin: 65px 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #444;
    width: 15%;
    position: absolute;
    top: 120px;
    left: 42.5%;
}


/* Barra de Navegação */

header, .navbar {
    background-image: linear-gradient(to bottom,rgb(179, 11, 179), rgb(182, 114, 182) );
    font-family: 'Pacifico', cursive;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 50px;
}

.navbar-brand {
    padding: 0;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

#navbar-links a {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */
.container-fluid {
    padding: 0 !important;
}

.carousel-item img {
    height: auto;
    width: auto;
}

#mainSlider .carousel-inner{
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 15%;
}

#mainSlider .carousel-caption h2 {
    font-size: 70px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: white;
}

.main-btn {
    background-color: violet;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: violet;
    background-color: transparent;
    border-color: violet;
}

/* About */

#about-area {
    background-color: rgb(247, 239, 247);
}

#about-area img {
    height: 50vh;
    width: 100%;
    border: 3px solid rgb(179, 11, 179);
}

.about-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-item p {
    margin: 0;
}

/* Cardápio */

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 25px;
    text-align: center;
}



#cardapio-area .filter-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#cardapio-area .filter-btn.active, #cardapio-area .filter-btn:hover {
    color: white;
    background-color: violet;
    border-color: violet;
}

.img-fluid {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card {
    text-align: center;
}

.card-title {
    font-size: 14px;
}

/* Footer */

#contact-area {
    text-align: center;
    background-color: rgb(248, 248, 248);
}

.contact-box , .social-box {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid violet;
}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: violet;
}

#msg-box p {
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn {
    width: 120px;
    height: 50px;
}

#contact-form .main-btn:hover {
    color: violet;
}

.contact-box a {
    width: 100px;
}

.fab {
    font-size: 50px;
    margin: 10px;
    color: #444;
}

.social-box i {
    transition: .5s;
}

.fab:hover {
    color: violet;
}


/* Copy */

#copy-area {
    background-color: #f1f1f1;
    position: unset;
}

#copy-area .container {
    padding: 1px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a:hover {
    text-decoration: none;
}

/* botão topo */
#btnTop {
    position: fixed;
    bottom: 20px;
    right: 20px;

    height: 50px;
    width: 50px;
    color: white;
    background: violet;
    border: none;
    border-radius: 50vh;
    display: none;
}

/* responsive */


@media (max-width: 800px) {

    /* geral */ 
    .container-fluid {
        padding: 10px 0;
    }
    /* slider */
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: auto;
    }

    #mainSlider .carousel-caption {
        height: 60vh;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 50px;
    }

    #mainSlider .carousel-caption p {
        margin-bottom: 40px;
    }

    .carousel-caption {
        left: 10%;
        right: 10%;
    }

    /* cardapio */
    #cardapio-area .filter-btn {
        margin: 0 1px;
    }

    /* formulario */
    .main-btn {
        margin-top: 5px;
    }
     
}

@media(max-width: 430px) {
    /* geral */
    .container {
        padding: 20px 0;
    }

    .main-title {
        font-size: 30px;
        margin: 5px 0 5px 0;
    }
    .main-title::after {
        display: none;
    }
    /*slider*/
    #mainSlider {
        margin-top: 75px;
    }

    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: auto;
    }

    
    #mainSlider .carousel-caption h2{
        font-size: 18px;
        margin-bottom: 40px;
    }

    #mainSlider .carousel-caption p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .carousel-caption .main-btn {
        font-size: 14px;
    }

    .container-fluid {
        padding: 10px 0;
    }

    .carousel-item img {
        height: auto;
        width: auto;
    }

    /* About */
    .about-item p {
        margin-top: 15px;
    }

    /* cardapio */
    #cardapio {
        margin-top: 15%;
    }

    #cardapio-area .filter-btn {
        margin: 0 5px 5px 5px;
        min-width: 10px;
        display: inline;
        font-size: 10px;
    }

    #mainSlider {
        height: auto;
    }

    #filter-btn-box {
        width: 100%;
    }
    .project-box{
        width: 100%;
    }

    /* footer */
    .container {
        padding: 7px;
    }

    #contato {
        margin-top: 15%;
    }

    

}

